.quizBox{
    margin: 2em 4em;
    background: #fff;
    height: calc(100vh - 10em);
    padding: 1em;
    box-sizing: border-box;
    overflow: auto;
}

.rightContent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nextButton{
    padding: 0.5em 1.25em;
    box-sizing: border-box;
    background: #00887a;
    color: #fff;
    margin: 0 1em;
    text-transform: uppercase;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nextButton:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: all 0.2s ease-in-out;
}

.resultTitle{
    margin: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #636363;
}

.infoContent{
    display: block
}

.infoPanel{
    float: left;
    width: 29%;
    padding: 0.5em;
    margin: 0.5em;
}

.infoTitle{
    font-size: 1.2em;
    margin: 0;
}

.infoText{
    margin: 0.3em 0;
    font-size: 1.75em;
    font-weight: 500;
    color: #00887a;
}

.sectionTitle{
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}


.questionResultItem{
    padding: 0.5em;
    background: #f2f2f2;
    margin-bottom: 1em;
}

.questionResultItem > h3{
    margin: 0;
    font-weight: 100;
    font-size: 1.4em;
}

.questionResultItem > p{
    font-size: 0.9em;
    font-weight: 500;
    background: #636363;
    display: inline-block;
    padding: 0.5em;
    margin: 1em 0.5em 0.25em 0;
    color: #fff;
}

.questionResultItem > p.correctAnswer{
    background: #689F38;
}

.questionResultItem > p.wrongAnswer{
    background: #E53935;
}

.startAgainSection{
    padding: 3em 3em 2em 3em;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 2em;
}